<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Honeywell Store.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F4BEAA5A648844D3EE55E93EAA45996276C84833</string>
				<key>dateExpires</key>
				<string>29/05/25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4BEAA5A648844D3EE55E93EAA45996276C84833</string>
						<key>dateExpires</key>
						<string>29/05/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>96E3M3QHGY</string>
						<key>name</key>
						<string>eAccess Solutions, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4BEAA5A648844D3EE55E93EAA45996276C84833</string>
						<key>dateExpires</key>
						<string>29/05/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>96E3M3QHGY</string>
						<key>name</key>
						<string>eAccess Solutions, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4BEAA5A648844D3EE55E93EAA45996276C84833</string>
						<key>dateExpires</key>
						<string>29/05/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>96E3M3QHGY</string>
						<key>name</key>
						<string>eAccess Solutions, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4BEAA5A648844D3EE55E93EAA45996276C84833</string>
						<key>dateExpires</key>
						<string>29/05/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>96E3M3QHGY</string>
						<key>name</key>
						<string>eAccess Solutions, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4BEAA5A648844D3EE55E93EAA45996276C84833</string>
						<key>dateExpires</key>
						<string>29/05/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>96E3M3QHGY</string>
						<key>name</key>
						<string>eAccess Solutions, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4BEAA5A648844D3EE55E93EAA45996276C84833</string>
						<key>dateExpires</key>
						<string>29/05/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>96E3M3QHGY</string>
						<key>name</key>
						<string>eAccess Solutions, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4BEAA5A648844D3EE55E93EAA45996276C84833</string>
						<key>dateExpires</key>
						<string>29/05/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>96E3M3QHGY</string>
						<key>name</key>
						<string>eAccess Solutions, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4BEAA5A648844D3EE55E93EAA45996276C84833</string>
						<key>dateExpires</key>
						<string>29/05/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>96E3M3QHGY</string>
						<key>name</key>
						<string>eAccess Solutions, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>96E3M3QHGY.com.honeywellstore.productions</string>
				<key>com.apple.developer.team-identifier</key>
				<string>96E3M3QHGY</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Honeywell Store.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2a963aee-75aa-42da-8439-ed738a21ce18</string>
				<key>dateExpires</key>
				<string>29/05/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.honeywellstore.productions</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>96E3M3QHGY</string>
				<key>name</key>
				<string>eAccess Solutions, Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
