<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FlashAlert.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>ADE5FAC757F45770A92889EE6459EA67710A1296</string>
				<key>dateExpires</key>
				<string>16/10/24</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADE5FAC757F45770A92889EE6459EA67710A1296</string>
						<key>dateExpires</key>
						<string>16/10/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>42J6CY5276</string>
						<key>name</key>
						<string>CODING BRAINS SOFTWARE SOLUTIONS PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>5.8.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADE5FAC757F45770A92889EE6459EA67710A1296</string>
						<key>dateExpires</key>
						<string>16/10/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>42J6CY5276</string>
						<key>name</key>
						<string>CODING BRAINS SOFTWARE SOLUTIONS PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADE5FAC757F45770A92889EE6459EA67710A1296</string>
						<key>dateExpires</key>
						<string>16/10/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BetterSegmentedControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>42J6CY5276</string>
						<key>name</key>
						<string>CODING BRAINS SOFTWARE SOLUTIONS PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADE5FAC757F45770A92889EE6459EA67710A1296</string>
						<key>dateExpires</key>
						<string>16/10/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>42J6CY5276</string>
						<key>name</key>
						<string>CODING BRAINS SOFTWARE SOLUTIONS PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.16</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADE5FAC757F45770A92889EE6459EA67710A1296</string>
						<key>dateExpires</key>
						<string>16/10/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LMCSideMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>42J6CY5276</string>
						<key>name</key>
						<string>CODING BRAINS SOFTWARE SOLUTIONS PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADE5FAC757F45770A92889EE6459EA67710A1296</string>
						<key>dateExpires</key>
						<string>16/10/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>42J6CY5276</string>
						<key>name</key>
						<string>CODING BRAINS SOFTWARE SOLUTIONS PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>5.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADE5FAC757F45770A92889EE6459EA67710A1296</string>
						<key>dateExpires</key>
						<string>16/10/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SideMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>42J6CY5276</string>
						<key>name</key>
						<string>CODING BRAINS SOFTWARE SOLUTIONS PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADE5FAC757F45770A92889EE6459EA67710A1296</string>
						<key>dateExpires</key>
						<string>16/10/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftKeychainWrapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>42J6CY5276</string>
						<key>name</key>
						<string>CODING BRAINS SOFTWARE SOLUTIONS PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADE5FAC757F45770A92889EE6459EA67710A1296</string>
						<key>dateExpires</key>
						<string>16/10/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>42J6CY5276</string>
						<key>name</key>
						<string>CODING BRAINS SOFTWARE SOLUTIONS PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>42J6CY5276.com.flashAlert.iOS</string>
				<key>com.apple.developer.team-identifier</key>
				<string>42J6CY5276</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>FlashAlert.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0b6a075d-6cb9-442a-b437-61ff337ddf4c</string>
				<key>dateExpires</key>
				<string>16/10/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.flashAlert.iOS</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>42J6CY5276</string>
				<key>name</key>
				<string>CODING BRAINS SOFTWARE SOLUTIONS PRIVATE LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
